{% extends 'base.html.twig' %}
{% block title %}Hello MembresController!
{% endblock %}
{% block body %}
	<div class="container">
		<h1>Espace Membre</h1>
		<ul style="list-style: none;">
			<li><a href=" {{path('membre_blog_list')}} ">Gestion de blog</a></li>
		</ul>
	</div>
{% endblock %}
