{% extends "base.html.twig" %}

{% block title %}
	Modifier l'email
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">

			<div class="col-md-6 mx-auto">
				<div class="text-center mt-5">

					<h1 style="text-decoration:underline;">Modifier l'email</h1>
				</div>
				<div class="col-md-10 mx-auto mt-5 mb-5" style="border:1px solid black;border-radius:15px; padding-top:20px;">

					{{form(form)}}
					</div>

				</div>
			</div>
		</div>




		{% endblock %}
