<footer class="footer mt-auto bg-dark ">
            <div class="art">
                <div class="container">
                    <div class="row" style="margin-top: 50px;">
                        <div class="col">
                          <section>
                            <h3>Company</h3>
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Contact US</a></li>
                                <li><a href="#">Team</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Mentions legale</a></li>
        
                            </ul>
                          </section>
                        </div>
                        <div class="col">
                          <section>
                            <h3>Developement</h3>
                            <ul>
                                <li><a href="#">Website</a></li>
                                <li><a href="#">Mobile Application</a></li>
                                <li><a href="#">xxxxxxxxx</a></li>
                            </ul>
                          </section>
                        </div>
                        <div class="col">
                          <section>
                            <h3>Weekly Newsletter</h3>
                            <form action="">
                              <input type="email" placeholder="Your Email here" id="" />
                              <input type="submit" value="Subscribe Now" />
                            </form>
                            <div class="social">
                              <i class="fab fa-youtube"></i>
                              <i class="fab fa-facebook-f"></i>
                              <i class="fab fa-twitter"></i>
                              <i class="fab fa-instagram"></i>
                              <i class="fab fa-telegram-plane"></i>
                            </div>
                          </section>
                        </div>
                      </div>
        
                </div>
    
              <div class="notice">
                Copyright Protected &copy;
                <strong>XXXXXX</strong>
              </div>
            </div>
</footer>
