<header>
      <nav class="navbar navbar-expand-lg navbar-mainbg">
        <a href="#" class="navbar-brand navbar-logo">Build Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Togglenavigation"> <i class="fas fa-bars text-white"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector">
                    <div class="left">

                    </div>
                    <div class="right">

                    </div>

                </div>
                <li class="nav-item">
                    <a href="#Dashboard" class="nav-link"><i class="fas fa-tachometer-alt"></i>Dashboard</a>
                </li>
                <li class="nav-item active">
                     <a href="#Address" class="nav-link"><i class="far fa-address-book"></i>Address Book</a>
                </li>

                <li class="nav-item">
                    <a href="#Components" class="nav-link"><i class="far fa-clone"></i>Components</a>
                </li>

                <li class="nav-item">
                    <a href="#Calender" class="nav-link"><i class="far fa-calendar-alt"></i>Calendar</a>
                </li>

                <li class="nav-item">
                    <a href="#Charts" class="nav-link"><i class="far fa-chart-bar"></i>Charts</a>
                </li>

                <li class="nav-item">
                    <a href="#Documents" class="nav-link"><i class="far fa-copy"></i>Documents</a>
                </li>



            </ul>
        </div>
    </nav>

</header>
