{% extends "base.html.twig" %}

{% block title %}
    A propos
{% endblock %}

{% block body %}

<h1>A propos de moi</h1>

{% for x in 1..5 %}

<div class="mb-4">

Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, ducimus nemo corporis adipisci ipsam doloribus error expedita dignissimos. Voluptatibus laudantium unde nam voluptas sequi, dicta corporis obcaecati delectus corrupti minima facilis voluptate accusamus fugiat illum, numquam nisi eius ullam optio quas ea omnis nihil, dolor distinctio. Sed, reprehenderit consequatur voluptate repudiandae ipsa numquam pariatur quae animi fuga magni provident nisi voluptas optio perferendis quam. Nostrum in fuga ab! Nihil nostrum ipsam consequuntur reiciendis dolor ipsum? Quod distinctio consequuntur, adipisci unde suscipit nostrum aliquam eum repellendus sint perspiciatis, iste, animi maxime.
</div>
    
{% endfor %}

{% endblock %}