{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}

<h1>Vous etes à l'accueil </h1>
<div class="lead">Bienvenue sur mon site</div>

{% for x in 1..3 %}
<div class="mt-5">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam natus est et, laborum impedit aperiam autem nesciunt repellendus sint, tenetur qui delectus. Corrupti harum porro commodi ullam voluptatem illo quae soluta reprehenderit vitae perferendis dignissimos amet dolores sit necessitatibus laboriosam debitis minus, esse reiciendis? Consequatur animi iure cum dolor accusantium officia! Esse fugit quasi ipsam vero consequuntur velit quam rerum eius. Esse ut libero perferendis aut neque pariatur, quaerat reiciendis natus assumenda temporibus? Consectetur itaque temporibus quidem illo, commodi rerum labore sequi voluptatum magni alias eius, non ad! Nobis inventore reiciendis mollitia numquam sapiente placeat aspernatur soluta id at, voluptatibus commodi nemo explicabo maiores, dolores, facere quo expedita cum. Accusamus vitae possimus alias, adipisci unde voluptas aspernatur officia totam, dicta iste autem minima cumque veritatis nulla hic molestias dolorem optio dolorum accusantium nihil porro architecto nam. Perspiciatis, ut molestiae doloremque possimus, incidunt repellat ullam sequi iure laboriosam voluptatum quia a ea magni eos cupiditate? Ipsam quia omnis et blanditiis nesciunt nulla numquam, mollitia officiis quasi atque pariatur expedita delectus iste ducimus? Aliquam dolorem rem voluptas saepe necessitatibus dicta voluptatum culpa? Reiciendis sunt, consequatur perspiciatis non ex dolorum vel cumque, voluptatem velit nam officia. Id blanditiis sunt aut, nesciunt sapiente tenetur.
</div>
   
{% endfor %}
{% endblock %}
