{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Espace administrateur</h1>
		<ul style="list-style: none;">
			<li><a href=" {{path('membre_blog_list')}} ">Gestion de blog</a></li>
		</ul>
	</div>
{% endblock %}
